*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}
header{
    display: grid;
    place-content: center;
    font-size: 2rem;
}
main{
    background-color: aqua;
}
.galeria{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-areas:
        "f1 f2 f2 f3" 
        "f1 f4 f5 f3"
        "f1 f6 f8 f8"
        "f1 f7 f8 f8";
    grid-template-rows: repeat(4, 1fr);
}
.foto{
    background-color: rgb(160, 28, 254);
    border: 1px solid black;
}
.foto:nth-of-type(1){
    grid-area: f1;
    background-image: url(img/anos-vive-gato-01.webp);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(2){
    grid-area: f2;
    background-image: url(img/img\ 2.jpeg);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(3){
    grid-area: f3;
    background-image: url(img/img\ 3.jpg);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(4){
    grid-area: f4;
    background-image: url(img/img\ 4.webp);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(5){
    grid-area: f5;
    background-image: url(img/img\ 5.jpg);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(6){
    grid-area: f6;
    background-image: url(img/img\ 6.webp);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(7){
    grid-area: f7;
    background-image: url(img/img\ 7.jpg);
    background-size: cover;
    background-position: center;
}
.foto:nth-of-type(8){
    grid-area: f8;
    background-image: url(img/img\ 8.png);
    background-size: cover;
    background-position: center;
}

footer{
    display: grid;
    place-content: center;
}
footer h1{
    font-size: 1rem;
    font-size: italic;
}